.notification-container {
    position: fixed;
    top: 100px;
    right: 0px;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    width: 0;
}

.notification {
    position: relative;
    z-index: var(--z-index-notification);

    width: 24rem;
    min-height: 4rem;
    color: var(--light-gray);
    font: var(--p);
    border-radius: .25rem;
    align-content: center;
    padding: var(--spacing-sm) var(--spacing-lg);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transform: translateX(-110%);
    animation: notificationSlide 250ms ease-in-out;

    &.info {
        background-color: var(--blue);
    }

    &.success {
        background-color: var(--green);
    }

    &.warning {
        background-color: var(--yellow);
    }

    &.failure {
        background-color: var(--red);
    }

    &:hover {
        height: 100%;
        overflow: visible;
        overflow-wrap: break-word;
        white-space: normal;
    }

    p {
        text-transform: capitalize;
        font: var(--big);
    }
}

@keyframes notificationSlide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-110%);
    }
}
