.notification-container {
    position: fixed;
    top: 100px;
    right: 0px;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    width: 0;
}

.notification {
    position: relative;
    z-index: 9999;

    width: 350px;
    height: 60px;
    min-height: 60px;
    color: var(--light-gray);
    font-weight: 500;
    border-radius: 5px;
    align-content: center;
    padding: 10px 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    transform: translateX(-110%);
    animation: notificationSlide 250ms ease-in-out;

    &.info {
        background-color: var(--blue);
    }

    &.success {
        background-color: var(--green);
    }

    &.warning {
        background-color: var(--yellow);
    }

    &.danger {
        background-color: var(--red);
    }

    &:hover {
        height: 100%;
        overflow: visible;
        overflow-wrap: break-word;
        white-space: normal;
    }

    p {
        text-transform: capitalize;
        font-weight: bold;
    }
}

@keyframes notificationSlide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-110%);
    }
}
