.notification-container {
    position: fixed;
    top: 10rem;
    right: 0px;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-xs);

    width: 0;
}

.notification {
    position: relative;
    z-index: var(--z-index-notification);

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 1rem;

    width: 24rem;
    min-height: 4rem;
    background-color: var(--light-gray);
    font: var(--p);
    border-radius: .25rem;
    align-content: center;
    padding: var(--spacing-sm) var(--spacing-lg);

    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

    transform: translateX(-110%);
    animation: notificationSlide 250ms ease-in-out;

    &.info {
        color: var(--blue);
    }

    &.success {
        color: var(--green);
    }

    &.warning {
        color: var(--yellow);
    }

    &.failure {
        color: var(--red);
    }

    svg {
        min-height: 50px;
        min-width: 50px;
    }

    span {
        white-space: pre-wrap;
        word-break: normal;
        display: inline-block;
    }
}

@keyframes notificationSlide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-110%);
    }
}
