/* Components */
@import "./components/header/styles.css";

/* Views */
@import "./views/signup/styles.css";
@import "./views/login/styles.css";

body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--light-gray);
}
