.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    padding-top: 5px; /* Reducido el padding superior */
}

.profile-container h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 10px; /* Espacio más pequeño entre el título y el formulario */
    color: #003366;
}

.profile-container > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 30px; /* Reducido el padding general del formulario */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

.inputs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.label-input {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    min-width: 200px;
}

label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
}

.input {
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.button-container {
    display: flex;
    flex-direction: column;
}

.top-buttons {
    display: flex;
    justify-content: space-between; /* Colocar botones en extremos opuestos */
    width: 100%;
    max-width: 500px; /* Ajusta según sea necesario */
    gap: 8rem;
}

.danger-button {
    margin-top: 10px;
    text-align: center;
}