.reports-table {
    table {
        width: 100%;
        border: .1rem solid var(--blue);
        border-radius: 1rem;
        border-spacing: 0;
        overflow: hidden;
    }

    thead {
        text-align: center; /* Centrar los encabezados */
        background-color: var(--blue);
        height: var(--spacing-xxxl);
        color: var(--white);
        font: bold var(--p);
    }

    table thead tr th:first-child {
        padding-left: var(--spacing-lg);
    }

    table tbody tr td:first-child {
        padding-left: var(--spacing-lg);
    }

    table tbody tr td {
        text-align: center; /* Centrar el contenido de las celdas */
        height: var(--spacing-xxl);
        border-bottom: .1rem solid var(--blue);
        font: var(--p);
        color: var(--black);
    }

    table tbody a {
        text-decoration: none;
        font: bold var(--p);
        color: var(--black);
    }

    table tbody tr:last-child td {
        border: none;
    }

    .trash-td {
        text-align: center; /* Centrar el ícono de eliminar */
        cursor: pointer;
    }
    
    .trash-td svg {
        fill: #e74c3c; /* Color del ícono de eliminar */
        width: 20px;
        height: 20px;
        transition: fill 0.3s ease;
    }
    
    .trash-td svg:hover {
        fill: #c0392b; /* Cambia de color al pasar el mouse */
    }
}
