.report-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    padding-bottom: 2rem;

    li {
        font: var(--big);
    }
}

.card {
    display: flex;
    flex-direction: column;

    border: 1px solid #e2e8f0;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.card_title {
    padding: 1.5rem;

    h4 {
        font: var(--h4);
    }

    p {
        font: var(--p);
        color: var(--white);
        text-align: left;
    }
}

.card_content {
    padding: 1.5rem;
}

.report_header {
    background-color: var(--blue);
    color: var(--white);
}

.medicion_title {
    border-radius: 0.5rem 0.5rem 0 0;

    background-color: var(--dark-gray);
    color: var(--white);
}

.angulo_img {
    width: 50%;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.angulos-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    table {
        font: var(--big);
        width: 25%;
        border-collapse: collapse;
        height: min-content;
    }

    thead {
        display: table-header-group;
        vertical-align: middle;
        unicode-bidi: isolate;

        tr {
            border-bottom: 1px solid #dcdcdc;
        }
    }

    th {
        height: 3rem;
        padding: 0 1rem;

        vertical-align: middle;
        text-align: left;
        color: var(--dark-gray);
    }

    tbody tr:not(:last-child) {
        border-bottom: 1px solid #dcdcdc;
    }

    tr:hover {
        background-color: #eaeaea;
    }

    td {
        height: 3rem;
        padding: 0 1rem;

        vertical-align: middle;
        text-align: center;
        color: var(--black);
    }
}

.download-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
    border-radius: 0.5rem;
    color: var(--blue);
    font-size: 1rem;
    padding: 10px 20px;
    cursor: pointer;
}

.report_metrics {
    display: flex;
    flex-direction: row;
}
