main {
    display: flex;
    flex-direction: row;

    height: 100%;
}

.content {
    position: relative;

    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
    padding: 30px 60px;
}
