.tabs {
  display: flex;
  flex-direction: column;
}

.tab-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.tab-trigger {
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-bottom: none;
}

.tab-trigger.active {
  background-color: #f2f2f2;
  border-bottom: 2px solid var(--blue);
}

.tab-content {
  border: 1px solid #ccc;
  padding: 20px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

