.sidebar {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: var(--spacing-xl) var(--spacing-xl);
    min-width: 180px;
    width: 25%;
    max-width: 250px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.primary-button {
    display: flex;
    gap: var(--spacing-xs);
    align-items: center;

    height: 4rem;
    border: none;
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: 20px;
    color: var(--white);
    font: var(--big);
    background-color: var(--dark-gray);
    text-align: left;
    align-content: center;
    text-decoration: none;
    cursor: pointer;
}

.primary-button:hover {
    background-color: var(--medium-gray);
}

.sidebar-secondary-buttons {
    display: flex;
    flex-direction: column;

    gap: var(--spacing-sm);
    padding-top: var(--spacing-lg);
}

.sidebar-button {
    display: flex;
    gap: var(--spacing-xs);
    align-items: flex-end;

    border: none;
    padding: var(--spacing-sm) var(--spacing-lg);
    border-radius: 20px;
    color: var(--black);
    background-color: transparent;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-button:hover {
    color: var(--light-gray);
    background-color: var(--medium-gray);
}

/* Abajo del hover para que no pise el estilo */
.sidebar-button.selected {
    color: var(--light-gray);
    background-color: var(--dark-blue);
}
