.sidebar {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 30px 30px;
    min-width: 180px;
    width: 25%;
    max-width: 250px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.primary-button {
    display: flex;
    gap: 6px;
    align-items: center;

    height: 4rem;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--white);
    font-weight: bold;
    background-color: var(--dark-gray);
    text-align: left;
    align-content: center;
    text-decoration: none;
    cursor: pointer;
}

.primary-button:hover {
    background-color: var(--medium-gray);
}

.sidebar-secondary-buttons {
    display: flex;
    flex-direction: column;

    gap: 12px;
    padding-top: 24px;
}

.sidebar-button {
    display: flex;
    gap: 6px;
    align-items: flex-end;

    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--black);
    background-color: transparent;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-button:hover {
    color: var(--light-gray);
    background-color: var(--medium-gray);
}

/* Abajo del hover para que no pise el estilo */
.sidebar-button.selected {
    color: var(--light-gray);
    background-color: var(--dark-blue);
}
