.sidebar {
    display: flex;
    flex-direction: column;

    height: 100%;
    gap: 10px;
    padding: 30px 30px;
    min-width: 180px;
    width: 25%;
    max-width: 250px;
}

.sidebar-button {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: var(--black);
    background-color: transparent;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
}

.sidebar-button:hover {
    color: var(--light-gray);
    background-color: var(--medium-gray);
}

/* Abajo del hover para que no pise el estilo */
.sidebar-button.selected {
    color: var(--light-gray);
    background-color: var(--dark-blue);
}
