.signup-container {
    background-color: var(--white);
    border-radius: 5px;
    padding: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 100%;
}

.signup-title {
    text-align: center;
    font-size: 24px;
    padding-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signup-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}

.signup-button {
    background-color: var(--blue);
    color: var(--white);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.signup-button:hover {
    background-color: var(--dark-blue);
}

.inline-message {
    color: red;
    font-weight: bold;
    padding-bottom: 10px;
}
