.signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    padding: var(--spacing-xl);
}

.signup-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 250px;
}

.signup-title {
    text-align: center;
    font: var(--h2);
    padding-bottom: var(--spacing-lg);
}

.signup-form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}

.signup-input {
    padding: var(--spacing-sm);
    border: 1px solid var(--medium-gray);
    border-radius: 0.5rem;
    font: var(--p);
    outline: none;
}

.signup-button {
    background-color: var(--blue);
    color: var(--white);
    padding: var(--spacing-sm) var(--spacing-lg);
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.signup-button:hover {
    background-color: var(--dark-blue);
}

.inline-message {
    color: red;
    font: var(--p);
    padding-bottom: var(--spacing-sm);
}

.signup-links {
    display: flex;
    justify-content: center;

    padding-top: var(--spacing-md);
    width: 100%;
}

.signup-link {
    color: var(--blue);
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}
