/* Palette */
@import "./variables.css";

/* Components */
@import "../components/styles.css";
@import "../components/header/styles.css";
@import "../components/table/styles.css";
@import "../components/confirmation_modal/styles.css";
@import "../components/page/styles.css";
@import "../components/sidebar/styles.css";
@import "../components/file_input/styles.css";
@import "../components/spinner/styles.css";
@import "../components/notification/sytles.css";
@import "../components/search/styles.css";
@import "../components/tabs/styles.css";

/* Views */
@import "../views/landing/styles.css";
@import "../views/signup/styles.css";
@import "../views/login/styles.css";
@import "../views/hip/styles.css";
@import "../views/my_hips/styles.css";
@import "../views/profile/styles.css";
@import "../views/new_analysis/styles.css";

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ff);
    min-height: 100dvh;
    background-color: var(--light-gray);
}

#root {
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

img,
video,
svg {
    height: auto;
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {

    *,
    *::before,
    *::after {
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
        transition: none;
    }
}
